$extra-large-font: 3rem;

$large-font: 2rem;

$caption-font-size: 1.25rem;

$normal-font: 1rem;

$small-font: 0.5rem;

$josefin-sans: "Josefin Sans";

$header-color: #40303d;
$landingpage-subfooter-color: #4E2C48;
$btn-primary-color: #40303d;

$material-color-cyan-400: #26C6DA;
$material-color-cyan-600: #00ACC1; 
$material-color-cyan-700: #0097A7;
$material-color-cyan-800: #00838F;
$material-color-cyan-900: #006064;

$color-canyon-beige:#eed9be;
$color-canyon-red: #d0655b;
$color-canyon-purple: #40303d;
$color-canyon-green: #40303d;
$color-canyon-blue: #91b9c5;
$color-canyon-teal: #cbd0c9;

$color-link-white: #fff;
$color-link-black: black;
$color-link-visited-dark: #484347;
$color-link-visited-light: #D2D2D2;

$color-google-red: #d44f3c;
$color-facebook-blue: #4d68a1;

$color-grey: #dce0e0;

$color-teal-100: #D7DECE;
